
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 100vh;
    /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background: url("pexels-iriser-1366957.jpg");
    background-position: center;
    object-fit: cover;
    background-size: cover;
    /* transition: background-image 2.5s ease-in-out; */
}
main{
    height:75%;
    width:30%;
    background-color: white;
    border-radius: 5px;
    box-shadow:2px 2px  10px white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top:2%;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:20%;
}
.image div{
    width:70%;
    height: 100%;
}
.image div img{
    width: 100%;
    height: 100%;
}
main h3{
    text-align: center;
    color: #225FA7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
}
select{
    width: 85%;
    height: 40px;
    font-size: 1rem;
    padding-left: 10px;
}
.one{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    line-height: 0.7;
    margin-top: 3%;
}
.calculate{
    width:30%;
    height:7%;
    margin-top: 20px;
    margin-left: 35%;
    background-color: #3B87F9;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
    border: none;
    color: white;
    font-size: 16px;
    font-weight:bold;
    border-radius: 3px;
}
.score{
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
}
.score span{
    color: #40FF00;
    font-size: 26px;
    font-weight: bold;
}
.add{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.add button{
    width:20%;
    height: 65%;
    background-color: #F90419;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
}

select:focus{
    border-color: #225FA7;
}
.tab{
    display: flex;
    flex-direction: column;
}
table {
    width: 50%;
    box-shadow: 1px 1px 10px white;
    border: none;
    border-collapse: collapse;
    margin: 20px 0;
    color: black;
    background-color: white;

}
thead{
    background-color: #3B87F9;
    color: white;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px 50px;
    text-align: center;
}
.back{
    background-color: #3B87F9;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 2px 10px white;
}
.buttons{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}
.remove{
    padding: 10px 30px;
    background-color: #F90419;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 2px 10px white;
}
.download{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #40FF00;
    font-weight: bold;
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 10px white;

}







    @media screen and (max-width:1100px) {
        body{
            height: 100vh;
            /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
            display: flex;
            flex-wrap:nowrap;
            align-items: center;
            justify-content: center;
            font-family: "Poppins", sans-serif;
            background: url("pexels-iriser-1366957.jpg");
            background-position: center;
            object-fit: cover;
            background-size: cover;
            /* transition: background-image 2.5s ease-in-out; */
        }
        main{
            height:80%;
            width:50%;
            background-color: white;
            border-radius: 5px;
            box-shadow:2px 2px  10px white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top:2%;
        }
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height:20%;
        }
        .image div{
            width:70%;
            height: 100%;
        }
        .image div img{
            width: 100%;
            height: 100%;
        }
        main h3{
            text-align: center;
            color: #225FA7;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
        }
        select{
            width: 85%;
            height: 40px;
            font-size: 1rem;
            padding-left: 10px;
        }
        .one{
            display: flex;
            flex-direction: column;
            margin-left: 12%;
            line-height: 0.7;
            margin-top: 3%;
        }
        .calculate{
            width:35%;
            height:7%;
            margin-top: 20px;
            margin-left: 35%;
            background-color: #3B87F9;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
            border: none;
            color: white;
            font-size: 16px;
            font-weight:bold;
            border-radius: 3px;
        }
        .score{
            text-align: center;
            margin-right: 10px;
            font-size: 20px;
        }
        .score span{
            color: #40FF00;
            font-size: 26px;
            font-weight: bold;
        }
        .add{
            display: flex;
            justify-content: center;
            column-gap: 20px;
        }
        .add button{
            width:20%;
            height: 65%;
            background-color: #F90419;
            color: white;
            margin-top: 10px;
            font-weight: bold;
            border: none;
            border-radius: 3px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
        }
        
        select:focus{
            border-color: #225FA7;
        }
        .tab{
            display: flex;
            width: 60%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        table {
            width: 50%;
            box-shadow: 1px 1px 10px white;
            border: none;
            border-collapse: collapse;
            margin: 20px 0;
            color: black;
            background-color: white;
        
        }
        thead{
            background-color: #3B87F9;
            color: white;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px 15px;
            text-align: center;
        }
        .back{
            background-color: #3B87F9;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 13px;
            box-shadow: 2px 2px 10px white;
        }
        .buttons{
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: center;
        }
        .remove{
            padding: 5px 10px;
            background-color: #F90419;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 13px;
            box-shadow: 2px 2px 10px white;
        }
        .download{
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: #40FF00;
            font-weight: bold;
            color: white;
            font-size: 13px;
            box-shadow: 2px 2px 10px white;
        
        }
        
        }












        @media screen and (max-width:600px) {
            body{
                height: 100vh;
                /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
                display: flex;
                flex-wrap:nowrap;
                align-items: center;
                justify-content: center;
                font-family: "Poppins", sans-serif;
                background: url("pexels-iriser-1366957.jpg");
                background-position: center;
                object-fit: cover;
                background-size: cover;
                /* transition: background-image 2.5s ease-in-out; */
            }
            main{
                height:80%;
                width:90%;
                background-color: white;
                border-radius: 5px;
                box-shadow:2px 2px  10px white;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding-top:2%;
            }
            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height:20%;
            }
            .image div{
                width:70%;
                height: 100%;
            }
            .image div img{
                width: 100%;
                height: 100%;
            }
            main h3{
                text-align: center;
                color: #225FA7;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
            }
            select{
                width: 85%;
                height: 40px;
                font-size: 1rem;
                padding-left: 10px;
            }
            .one{
                display: flex;
                flex-direction: column;
                margin-left: 12%;
                line-height: 0.7;
                margin-top: 3%;
            }
            .calculate{
                width:35%;
                height:7%;
                margin-top: 20px;
                margin-left: 35%;
                background-color: #3B87F9;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
                border: none;
                color: white;
                font-size: 16px;
                font-weight:bold;
                border-radius: 3px;
            }
            .score{
                text-align: center;
                margin-right: 10px;
                font-size: 20px;
            }
            .score span{
                color: #40FF00;
                font-size: 26px;
                font-weight: bold;
            }
            .add{
                display: flex;
                justify-content: center;
                column-gap: 20px;
            }
            .add button{
                width:20%;
                height: 65%;
                background-color: #F90419;
                color: white;
                margin-top: 10px;
                font-weight: bold;
                border: none;
                border-radius: 3px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
            }
            
            select:focus{
                border-color: #225FA7;
            }
            .tab{
                display: flex;
                width: 60%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            table {
                width: 50%;
                box-shadow: 1px 1px 10px white;
                border: none;
                border-collapse: collapse;
                margin: 20px 0;
                color: black;
                background-color: white;
            
            }
            thead{
                background-color: #3B87F9;
                color: white;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 10px 15px;
                text-align: center;
            }
            .back{
                background-color: #3B87F9;
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 13px;
                box-shadow: 2px 2px 10px white;
            }
            .buttons{
                display: flex;
                column-gap: 20px;
                align-items: center;
                justify-content: center;
            }
            .remove{
                padding: 5px 10px;
                background-color: #F90419;
                border: none;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 13px;
                box-shadow: 2px 2px 10px white;
            }
            .download{
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                background-color: #40FF00;
                font-weight: bold;
                color: white;
                font-size: 13px;
                box-shadow: 2px 2px 10px white;
            
            }
            
            }
        
        












            @media screen and (max-width:480px) {
                body{
                    height: 100vh;
                    /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
                    display: flex;
                    flex-wrap:nowrap;
                    align-items: center;
                    justify-content: center;
                    font-family: "Poppins", sans-serif;
                    background: url("pexels-iriser-1366957.jpg");
                    background-position: center;
                    object-fit: cover;
                    background-size: cover;
                    /* transition: background-image 2.5s ease-in-out; */
                }
                main{
                    height:65%;
                    width:90%;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow:2px 2px  10px white;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding-top:2%;
                }
                .image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height:20%;
                }
                .image div{
                    width:70%;
                    height: 100%;
                }
                .image div img{
                    width: 100%;
                    height: 100%;
                }
                main h3{
                    text-align: center;
                    color: #225FA7;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
                }
                select{
                    width: 85%;
                    height: 40px;
                    font-size: 1rem;
                    padding-left: 10px;
                }
                .one{
                    display: flex;
                    flex-direction: column;
                    margin-left: 12%;
                    line-height: 0.7;
                    margin-top: 3%;
                }
                .calculate{
                    width:35%;
                    height:7%;
                    margin-top: 20px;
                    margin-left: 35%;
                    background-color: #3B87F9;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight:bold;
                    border-radius: 3px;
                }
                .score{
                    text-align: center;
                    margin-right: 10px;
                    font-size: 20px;
                }
                .score span{
                    color: #40FF00;
                    font-size: 26px;
                    font-weight: bold;
                }
                .add{
                    display: flex;
                    justify-content: center;
                    column-gap: 20px;
                }
                .add button{
                    width:20%;
                    height: 65%;
                    background-color: #F90419;
                    color: white;
                    margin-top: 10px;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
                }
                
                select:focus{
                    border-color: #225FA7;
                }
                .tab{
                    display: flex;
                    width: 60%;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                table {
                    width: 50%;
                    box-shadow: 1px 1px 10px white;
                    border: none;
                    border-collapse: collapse;
                    margin: 20px 0;
                    color: black;
                    background-color: white;
                
                }
                thead{
                    background-color: #3B87F9;
                    color: white;
                }
                table, th, td {
                    border: 1px solid black;
                }
                th, td {
                    padding: 10px 15px;
                    text-align: center;
                }
                .back{
                    background-color: #3B87F9;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                }
                .buttons{
                    display: flex;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                }
                .remove{
                    padding: 5px 10px;
                    background-color: #F90419;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                }
                .download{
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: #40FF00;
                    font-weight: bold;
                    color: white;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                
                }
                
                }
                






                
            @media screen and (max-width:380px) {
                body{
                    height: 100vh;
                    /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
                    display: flex;
                    flex-wrap:nowrap;
                    align-items: center;
                    justify-content: center;
                    font-family: "Poppins", sans-serif;
                    background: url("pexels-iriser-1366957.jpg");
                    background-position: center;
                    object-fit: cover;
                    background-size: cover;
                    /* transition: background-image 2.5s ease-in-out; */
                }
                main{
                    height:80%;
                    width:95%;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow:2px 2px  10px white;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding-top:2%;
                }
                .image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height:20%;
                }
                .image div{
                    width:70%;
                    height: 100%;
                }
                .image div img{
                    width: 100%;
                    height: 100%;
                }
                main h3{
                    text-align: center;
                    color: #225FA7;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
                }
                select{
                    width: 85%;
                    height: 40px;
                    font-size: 1rem;
                    padding-left: 10px;
                }
                .one{
                    display: flex;
                    flex-direction: column;
                    margin-left: 12%;
                    line-height: 0.7;
                    margin-top: 3%;
                }
                .calculate{
                    width:35%;
                    height:7%;
                    margin-top: 20px;
                    margin-left: 35%;
                    background-color: #3B87F9;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight:bold;
                    border-radius: 3px;
                }
                .score{
                    text-align: center;
                    margin-right: 10px;
                    font-size: 20px;
                }
                .score span{
                    color: #40FF00;
                    font-size: 26px;
                    font-weight: bold;
                }
                .add{
                    display: flex;
                    justify-content: center;
                    column-gap: 20px;
                }
                .add button{
                    width:20%;
                    height: 65%;
                    background-color: #F90419;
                    color: white;
                    margin-top: 10px;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
                }
                
                select:focus{
                    border-color: #225FA7;
                }
                .tab{
                    display: flex;
                    width: 60%;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                table {
                    width: 50%;
                    box-shadow: 1px 1px 10px white;
                    border: none;
                    border-collapse: collapse;
                    margin: 20px 0;
                    color: black;
                    background-color: white;
                
                }
                thead{
                    background-color: #3B87F9;
                    color: white;
                }
                table, th, td {
                    border: 1px solid black;
                }
                th, td {
                    padding: 10px 15px;
                    text-align: center;
                }
                .back{
                    background-color: #3B87F9;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                }
                .buttons{
                    display: flex;
                    column-gap: 20px;
                    align-items: center;
                    justify-content: center;
                }
                .remove{
                    padding: 5px 10px;
                    background-color: #F90419;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                }
                .download{
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: #40FF00;
                    font-weight: bold;
                    color: white;
                    font-size: 13px;
                    box-shadow: 2px 2px 10px white;
                
                }
                
                }
                














                @media screen and (max-height:680px) {
                    body{
                        height: 100vh;
                        /* background:linear-gradient(#3BE0F9,#28DFF3,#58F6EE); */
                        display: flex;
                        flex-wrap:nowrap;
                        align-items: center;
                        justify-content: center;
                        font-family: "Poppins", sans-serif;
                        background: url("pexels-iriser-1366957.jpg");
                        background-position: center;
                        object-fit: cover;
                        background-size: cover;
                        /* transition: background-image 2.5s ease-in-out; */
                    }
                    main{
                        height:80%;
                        width:95%;
                        background-color: white;
                        border-radius: 5px;
                        box-shadow:2px 2px  10px white;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding-top:2%;
                    }
                    .image{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height:20%;
                    }
                    .image div{
                        width:70%;
                        height: 100%;
                    }
                    .image div img{
                        width: 100%;
                        height: 100%;
                    }
                    main h3{
                        text-align: center;
                        color: #225FA7;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.277);
                    }
                    select{
                        width: 85%;
                        height: 40px;
                        font-size: 1rem;
                        padding-left: 10px;
                    }
                    .one{
                        display: flex;
                        flex-direction: column;
                        margin-left: 12%;
                        line-height: 0.7;
                        margin-top: 3%;
                    }
                    .calculate{
                        width:35%;
                        height:7%;
                        margin-top: 15px;
                        margin-left: 35%;
                        background-color: #3B87F9;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.277);
                        border: none;
                        color: white;
                        font-size: 13px;
                        font-weight:bold;
                        border-radius: 3px;
                    }
                    .score{
                        text-align: center;
                        margin-right: 10px;
                        font-size: 13px;
                    }
                    .score span{
                        color: #40FF00;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .add{
                        display: flex;
                        justify-content: center;
                        column-gap: 15px;
                        font-size: 13px;
                    }
                    .add button{
                        width:20%;
                        height: 65%;
                        background-color: #F90419;
                        color: white;
                        margin-top: 10px;
                        font-weight: bold;
                        font-size: 12px;
                        border: none;
                        border-radius: 3px;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.214);
                    }
                    
                    select:focus{
                        border-color: #225FA7;
                    }
                    .tab{
                        display: flex;
                        width: 60%;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    table {
                        width: 50%;
                        box-shadow: 1px 1px 10px white;
                        border: none;
                        border-collapse: collapse;
                        margin: 20px 0;
                        color: black;
                        background-color: white;
                    
                    }
                    thead{
                        background-color: #3B87F9;
                        color: white;
                    }
                    table, th, td {
                        border: 1px solid black;
                    }
                    th, td {
                        padding: 10px 15px;
                        text-align: center;
                    }
                    .back{
                        background-color: #3B87F9;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 5px;
                        color: white;
                        font-weight: bold;
                        font-size: 13px;
                        box-shadow: 2px 2px 10px white;
                    }
                    .buttons{
                        display: flex;
                        column-gap: 20px;
                        align-items: center;
                        justify-content: center;
                    }
                    .remove{
                        padding: 5px 10px;
                        background-color: #F90419;
                        border: none;
                        border-radius: 5px;
                        color: white;
                        font-weight: bold;
                        font-size: 13px;
                        box-shadow: 2px 2px 10px white;
                    }
                    .download{
                        padding: 5px 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: #40FF00;
                        font-weight: bold;
                        color: white;
                        font-size: 13px;
                        box-shadow: 2px 2px 10px white;
                    
                    }
                    
                    }
                    